<div style="background:rgba(20, 20, 20, 0.8);max-width:360px;margin-top:100px" class="w3-padding-large w3-modal-content">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render partial: "shared/devisemes" %>
  <h2 style="color:white">Đăng Ký</h2>
  
  
  <div class="form-field">
    
    <%= f.text_field :name, autofocus: true, :class => "w3-input", :placeholder => "Name" %>
  </div>
  
  <div class="form-field">
    
    <%= f.email_field :email, class: "w3-input  ", autofocus: true, :placeholder => "Email" %>
  </div>
  
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  
  <div class="form-field">
    <%= f.password_field :password, autocomplete: "off", class: "w3-input  ", :placeholder => "Mật khẩu" %>
  </div><br>
  
  <div class="form-field">
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "w3-input  ", :placeholder => "Xác nhận" %>
  </div><br>
  
  <div class="form-field">
    <%= f.password_field :current_password, autocomplete: "off", class: "w3-input  ", :placeholder => "Mật khẩu hiện tại" %><br>
  </div>
  
  <div class="actions">
    <%= f.submit "Update", class: " w3-input w3-blue w3-hover-green" %>
  </div><br> 
  <p style="color:white">Không Vui? <%= button_to "Xóa Tài khoản", registration_path(resource_name), data: { confirm: "Bạn chắc không?" }, method: :delete,  class: "w3-input w3-hover-green w3-blue" %></p>
  <div class="actions"><%= link_to "Trở Lại", :back,  class: "w3-input w3-center w3-hover-green w3-blue" %></div><br>
  
<% end %>

</div>

