<div  class=" w3-col l4 m4 w3-hide-small  ">
	<div  class="  w3-container">
		<div class="w3-margin r w3-card-2 w3-padding w3-white">
		<div class="fb-page" data-href="https://www.facebook.com/chaprynz" data-tabs="timeline" data-height="70" data-width="700" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/chaprynz"><a href="https://www.facebook.com/chaprynz">Chapry</a></blockquote></div></div>
		</div>
		<% @posts.each do |post| %>
			
			<%= link_to [post.category, post] do %>
				<div class="w3-white w3-margin content w3-card-2 r w3-padding w3-container">
					<div  class="w3-col s4 m4 ">
  						<%= image_tag post.image.url, style: "width:100%" %>
					</div>
					<div style="padding-left:10px;line-height:1.2;font-size:12px" class=" w3-col s8 m8  w3-container">
					  <p style="color:#9E8383"><%= post.created_at.strftime("%d-%m-%Y") %></p>
					  <p><strong><%= post.title %></strong></p>
					</div>
				</div>
			<% end %>
			
		<% end %>
		<%= paginate @posts %>
		
	</div>	
</div>

<div class="w3-col l4 m4 w3-hide-large w3-hide-medium   w3-white  ">
	<div  class="w3-container">
		<% @posts.each do |post| %>
			<% if !post.logo? %>
			<%= link_to [post.category, post] do %>
				<div style="" class="w3-padding  w3-container">
					<div style="" class="w3-col s4 m4 ">
	  					<%= image_tag post.image.url, style: "width:100%" %>
					</div>
					<div style="padding-left:10px;line-height:1.2;font-size:12px" class=" w3-col s8 m8  w3-container">
					  <p style="color:#9E8383"><%= post.created_at.strftime("%d-%m-%Y") %></p>
					  <p><strong><%= post.title %></strong></p>
					  
					  
					</div>
				</div>	
			<% end %>
			<% end %>
		<% end %>
		<%= paginate @posts %>
		
	</div>	
</div>